<%%= form_for(@<%= singular_table_name %>) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= human_name.downcase %> from being saved:</h2>

      <ul>
        <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
        <%% end %>
      </ul>
    </div>
  <%% end %>

  <% if attributes.map(&:name).include?('title') -%>
  <div class="field">
    <%%= f.label :title %><br />
    <%%= f.text_field :title %>
  </div>
  <% end -%>

  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%%= octicon('chevron-down') %>
        <%% end %>
      </li>
    </ul>

    <%%= field_set_tag nil, id: 'tabs-1' do %>
      <% attributes.reject{|x| [:image, :document, :boolean, :date, :datetime ].include?(x.type) }.reject{|x| x.name == 'title' || x.name == 'suggested_url' || x.name == 'social_share_description' || x.name == 'social_share_title' }.each do |attribute| -%>
      <div class="field">
        <%%= f.label :<%= attribute.column_name %> %><br>
        <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %><%= ", class: '#{'tinymce'}'" if attribute.type == :text %> %>
      </div>
      <% end -%>

      <% attributes.select{|x| x.type == :date }.each do |attribute| -%>
      <%%= f.datepicker_field :<%= attribute.column_name %> %>
      <% end -%>

      <% attributes.select{|x| x.type == :datetime }.reject{|x| x.name == 'publish_at' || x.name == 'expire_at' }.each do |attribute| -%>
      <%%= f.datetimepicker_field :<%= attribute.column_name %> %>
      <% end -%>
    <%% end %>

    <%%= field_set_tag nil, id: 'tabs-2' do %>
      <% attributes.select{|x| x.type == :image }.each do |attribute| -%>
      <%%= f.image_field :<%= attribute.column_name %> %>
      <% end -%>

      <% attributes.select{|x| x.type == :document }.each do |attribute| -%>
      <%%= f.document_field :<%= attribute.column_name %> %>
      <% end -%>

      <% attributes.select{|x| x.name == 'social_share_description' || x.name == 'social_share_title' }.each do |attribute| -%>
      <div class="field">
        <%%= f.label :<%= attribute.column_name %> %><br>
        <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %> %>
      </div>
      <% end -%>
    <%% end %>

    <%%= field_set_tag nil, id: 'tabs-3' do %>
      <% if attributes.map(&:name).include?('suggested_url') -%>
      <%%= render 'optimadmin/shared/suggested_url_field', f: f %>
      <% end -%>

      <% if attributes.map(&:name).include?('publish_at') &&
            attributes.map(&:name).include?('expire_at') -%>
      <%%= render 'optimadmin/shared/display_status_field', f: f %>
      <% end -%>

      <% attributes.select{|x| x.type == :boolean }.each do |attribute| -%>
      <div class="field">
        <%%= f.label :<%= attribute.column_name %> %><br>
        <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %> %>
      </div>
      <% end -%>
    <%% end %>
  </div>

  <div class="actions">
    <%%= f.submit 'Save' %>
    <%%= f.submit 'Save and continue editing' %>
  </div>
<%% end %>
